<% Object.keys(page.events).forEach(function(key) { %>

	<form name="booking" id="event-<%= key%>" class="event box pure-form bottom-20">
	
	<input type="hidden" name="event" value="<%= page.title%>" />
	<input type="hidden" name="package" value="<%= page.events[key].name%>" />
	<input type="hidden" name="description" value="<%= page.events[key].description%>" />
	<input type="hidden" name="includes" value="<%= JSON.stringify(page.events[key].includes)%>" />
	<textarea class="hidden" name="addons"></textarea>
	<input type="hidden" name="price" />
	
		<div class="event-header bottom-20">
			<h4 class="large uppercase"><%=(parseInt(key)+1)%> <%= page.events[key].name%></h4>
			<p class="small"><%= page.events[key].description%></p>
			<div class="pure-g gutters">
				<div class="pure-u-1 pure-u-sm-1-3">
					<img width="150" height="100" class="img-responsive" alt="<%= page.events[key].name%>" src="/images/<%= page.events[key].thumbnail%>" />
				</div>
				<div class="pure-u-1 pure-u-sm-2-3">
					<div class="strong">Incluye:</div>
					<ul class="small">
						<% Object.keys(page.events[key].includes).forEach(function(list) { %>
							<li><%= page.events[key].includes[list]%></li>
						<%});%>
					</ul>
					
					<% if(page.events[key].hasOwnProperty("addons")){%>
						<div class="strong text-muted">Extras Disponibles:</div>
						<ul class="text-muted small">
							<% Object.keys(page.events[key].addons).forEach(function(list) { %>
								<li><%= page.events[key].addons[list].name%> ($<%= page.events[key].addons[list].price%> c/u)</li>
							<%});%>
						</ul>
					<% } %>
				</div>
			</div>
		</div>
		<div id="event-body-<%=key%>" class="event-body hidden">
			<div class="bottom-10">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Nombre completo</label>
						<input type="text" name="name" class="width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Email</label>
						<input type="email" name="email" class="width-100"/>
					</div>
				</div>
			</div>	
			<div class="bottom-10">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Teléfono</label>
						<input type="text" name="name" class="width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Participantes</label>
						<select name="participants" class="width-100">
							<option>--</option>
						</select>
					</div>
				</div>
			</div>				
			<div class="bottom-20">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Día</label>
						<input type="text" name="day" class="width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Hora</label>
						<select name="hour" class="width-100">
							<option>--</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="bottom-20">
				<button onclick="toggleExtras('<%= key %>')" class="small pure-button pure-button-primary" type="button">Mostrar extras disponibles &#9660;</button>
			</div>
			<div id="event-addons-<%= key %>" class="hidden box bottom-20">
				<div class="large strong bottom-20">Extras disponibles</div>
				<% if(page.events[key].hasOwnProperty("addons")){%>
					<% Object.keys(page.events[key].addons).forEach(function(list) { %>
						<div class="bottom-10">
							<label><select class="addon" name="addon_<%=list%>">
								<option value="0">0</option>
								<%for(var x = 0; x < page.events[key].addons[list].max; x++){%>
									<option value="<%=(x+1)%>"><%=(x+1)%></option>
								<% } %>
							</select> <%= page.events[key].addons[list].name%> ($<%= page.events[key].addons[list].price%> c/u)</label>		
						</div>
					<%});%>
				<% } %>
			</div>
		
		</div>

		<div id="event-send-<%= key %>" class="hidden">
			<button onclick="booking_submit('<%= key %>')" class="uppercase strong pure-button pure-button-black block width-100" type="button">Enviar solicitud</button>
		</div>
		
		<div id="event-show-<%= key %>">
			<button onclick="toggleEvent('<%= key %>')" class="uppercase strong pure-button pure-button-primary block width-100" type="button">Lo quiero</button>
		</div>
		
	</form>
<% }); %>