<% Object.keys(page.sub_packages).forEach(function(key) { %>

	<% var obj = {}; obj.title = page.title; obj.name = page.sub_packages[key].name; obj.base_price = page.price; obj.event_price = page.sub_packages[key].price; obj.addons = page.sub_packages[key].add_ons; obj.spaces = page.sub_packages[key].spaces;%>

	<script id="event-json-<%=key%>" type="application/json"><%- JSON.stringify(obj)%></script>

	<form name="booking" data-url="<%= blaz().canonical;%>" data-webhook="<%= theme.webhook.base64_url%>" id="event-<%= key%>" class="event box pad-20 pure-form bottom-20">
		
	<input type="hidden" name="event" value="<%= page.title%>" />
	<input type="hidden" name="package" value="<%= page.sub_packages[key].name%>" />
	<input type="hidden" name="description" value="<%= page.sub_packages[key].description%>" />
	<input type="hidden" name="includes" value="<%= JSON.stringify(page.sub_packages[key].includes)%>" />
	<textarea class="hidden" name="addons">NO</textarea>
	<input type="hidden" name="price" />
	
		<div class="event-header bottom-20">
			<h4 class="large uppercase"><%=(parseInt(key)+1)%> <%= page.sub_packages[key].name%></h4>
			<p class="small"><%= page.sub_packages[key].description%></p>
			
			<%if(page.sub_packages[key].spaces){ var spaces = page.sub_packages[key].spaces[0]; %>
				<% if(spaces.name && spaces.price){%>
					<p class="small"><strong>Ubicación:</strong> <%= spaces.name%></p>
				<% } %>
			<%}%>
			
			<div class="pure-g gutters">
				<div class="pure-u-1 pure-u-sm-1-3">
					<img width="150" height="100" class="img-responsive" alt="<%= page.sub_packages[key].name%>" src="/images/<%if(page.sub_packages[key].thumbnail){%><%= page.sub_packages[key].thumbnail%><%} else{%>bg-logo.svg<%}%>" />
				</div>
				<div class="pure-u-1 pure-u-sm-2-3">
					<div class="strong">Incluye:</div>
					<ul class="small">
						<% Object.keys(page.sub_packages[key].includes).forEach(function(list) { %>
							<% if(page.sub_packages[key].includes[list]) {%>
								<li><%= page.sub_packages[key].includes[list]%></li>
							<% } %>
						<%});%>
					</ul>
					
					
					<% if(page.sub_packages[key].hasOwnProperty("add_ons")){%>
						<div class="strong text-muted">Extras Disponibles:</div>
						<ul class="text-muted small">
							<% Object.keys(page.sub_packages[key].add_ons).forEach(function(list) { %>
								<li><%= page.sub_packages[key].add_ons[list].name%> ($<%= page.sub_packages[key].add_ons[list].price%> c/u)</li>
							<%});%>
						</ul>
					<% } %>
				</div>
			</div>
		</div>
		<div id="event-body-<%=key%>" class="event-body hidden">
			<div class="bottom-10">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Nombre completo</label>
						<input type="text" name="name" class="width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Email</label>
						<input type="email" name="email" class="width-100"/>
					</div>
				</div>
			</div>	
			<div class="bottom-10">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Teléfono</label>
						<input type="text" name="tel" class="width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<% if(page.sub_packages[key].min_capacity && page.sub_packages[key].max_capacity) {%>
							<label>Personas</label>
							<select onchange="calculate_vars('<%=key%>')" id="event-participants-<%=key%>" name="participants" class="width-100">
								<option>--</option>
								<% if(page.sub_packages[key].min_capacity < page.sub_packages[key].max_capacity){ %>
									<% for(var x = 0; x < page.sub_packages[key].max_capacity; x++) {%>
										<option value="<%= (x+1) %>"><%= (x+1) %></option>
									<% } %>
								<% } %>
							</select>
						<%} else {%>
							<input type="hidden" id="event-participants-<%=key%>" value="1" name="participants" />
						<% } %>
					</div>
				</div>
			</div>				
			<div class="bottom-20">
				<div class="pure-g gutters">
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Día</label>
						<input type="text" name="day" class="datepicker width-100"/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<label>Hora</label>
						<select name="hour" class="width-100">
							<option>--</option>
						</select>
					</div>
				</div>
			</div>
			<% if(page.sub_packages[key].hasOwnProperty("add_ons")){%>
				<div class="bottom-20">
					<button onclick="toggleExtras('<%= key %>')" class="small pure-button pure-button-primary" type="button">Mostrar extras disponibles &#9660;</button>
				</div>
			<% } %>
			<div id="event-addons-<%= key %>" class="hidden box pad-20 bottom-20">
				<div class="large strong bottom-20">Extras disponibles</div>
				<% if(page.sub_packages[key].hasOwnProperty("add_ons")){%>					
					<% Object.keys(page.sub_packages[key].add_ons).forEach(function(list) { %>
						<div class="bottom-10">
							<label><select data-name="<%= page.sub_packages[key].add_ons[list].name%>" onchange="calculate_vars(<%=key%>)" class="addon addon-<%=key%>" name="addon-<%=key%>-<%=list%>">
								<option value="0">0</option>
								<%for(var x = 0; x < page.sub_packages[key].add_ons[list].max; x++){%>
									<option value="<%=(x+1)%>"><%=(x+1)%></option>
								<% } %>
							</select> <%= page.sub_packages[key].add_ons[list].name%> ($<%= page.sub_packages[key].add_ons[list].price%> c/u)</label>		
						</div>
					<%});%>
				<% } %>
			</div>
		
		</div>
		
		<div class="bottom-20 event-breakdown-<%= key %>"></div>

		<div id="event-send-<%= key %>" class="hidden">
			<button onclick="booking_submit('<%= key %>')" class="uppercase strong pure-button pure-button-black block width-100" type="button">Enviar solicitud</button>
		</div>
		
		<div id="event-show-<%= key %>">
			<button onclick="calculate_vars('<%=key%>'); toggleEvent('<%= key %>')" class="uppercase strong pure-button pure-button-primary block width-100" type="button">Lo quiero</button>
		</div>
		
	</form>
<% }); %>