<% if(slides) {%>
	<% if(slides.length > 0) {%>
		<div id="<%= slide_id%>" class="slideshow bottom-20">

			<% for(var x = 0; x < slides.length; x++) {%>
				<img class="slides img-responsive" width="600" height="400" alt="<%= page.title%>" src="<%= slides[x]%>" />
			<% } %>
			<a class="next pure-button pure-button-primary" onclick="plusSlides(+1, '<%= slide_id%>')">&#10095;</a>
		</div>
	<% } else {%>
		<%if(slide_id == "package_slide") {%>
			<img width="600" height="400" class="img-responsive" alt="<%= page.title%>" src="/images/bg-logo.svg">
		<% } %>
	<% } %>
<% } else { %>
		<%if(slide_id == "package_slide") {%>
			<img width="600" height="400" class="img-responsive" alt="<%= page.title%>" src="/images/bg-logo.svg">
		<% } %>
<% } %>
